.all {background-color:black;color:#ff8000;font-size:16pt;font-style: serif;}

.pointer {cursor:pointer;color:#0198e1;}

.addshared {width:auto;height:auto;
            border-style:inset; border-color: #ff8000;}

.addoutcontain {border-width: 5px; border-radius: 10px;
                padding: 5px;}

.addincontain {display: inline-block;height: 12px; border-width:2px; border-radius: 5px;
            padding: 0px 5px 20px 5px; margin: 2px 0px 2px 5px;}

.tboxcontain {display: inline-block; width:auto;height:auto;
             border-style:inset; border-color: #ff8000;
             font-size: 10pt;margin:0px 0px 10px 0px;
               border-width: 5px; border-radius: 10px; padding: 5px 5px 5px 5px;}

.textbox {}

.tagboxouter {width:auto;border-style:inset; border-color: #ff8000; border-width: 2px;
   border-radius: 10px; margin:0px 0px 0px 0px;}

.tagboxinner {}

.tagshared {width:auto;
              border-style:inset; border-color: #ff8000;}

.parenttagcont {display: flex;border-width: 2px; border-radius: 5px;
                  padding: 5px;}

.tagcont {height: 12px; border-width:2px; border-radius: 5px; font-style: serif;
          padding: 0px 5px 20px 5px; margin: 2px 0px 2px 5px;}

.plusbutton {padding: 0px 0px 0px 0px; border-width:2px; border-radius: 5px;}

.ibox {width:100px;height:28px;}

.testfunct {color:purple;}
